.h2 {
  justify-content: center;
  text-align: right;
  color: black;
  margin-left: 50px;
}

.footer {
  position: relative;

  background: linear-gradient(35deg, #54f6ff, white);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social_icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}

.social_icon li a {
  font-size: 2em;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social_icon li a:hover {
  color: #fcd01c;
  transform: translateY(-10px);
}

.menu li {
  list-style: none;
}
.menu li a {
  font-size: 1.2em;
  color: black;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
  text-decoration: none;
}
.menu li a:hover {
  opacity: 1;
  color: #fcd01c;
}

.p1 {
  color: black;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

@media (max-width: 500px) {
  .footer {
    width: auto;
  }
}
@media (max-width: 440px) {
  .h2 {
    font-size: 12px;
    margin-left: 30px;
  }
  .menu li a {
    font-size: 10px;
    text-align: center;
    margin-left: 0px;
  }
}
