@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}

.p1,
.p2,
.p3 {
  font-weight: 100;
  font-size: 20px;
}

.active {
  background: #eee;
  box-shadow: box-shadow;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.8rem 1.9rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
  height: auto;
}
.cartBtn {
  height: 80px;
  width: 300px;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 10%;
}
.navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: black;
}

.navbar a:hover {
  color: #fcd01c;
}
.text {
  font-size: 75px;
  font-family: "Bebas Neue";
}
.bppsb {
  font-size: 4rem;
  color: #130f40;
  padding-bottom: 1rem;
  text-align: right;
  justify-content: right;
  font-family: "Anton", sans-serif;
  text-shadow: 2px 2px #fcd01c;
  position: relative;
}

.menu {
  display: none;
}
.menuMain {
  display: none;
}
/* GCash payment styles starts here */

.payment {
  margin-bottom: 100px;
  margin-right: 100px;
}
.submitStyle {
  padding: 10px 20px 20px;
  justify-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.userGcash {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.QR {
  justify-content: center;
  display: flex;

  padding: 10px 20px 20px;
}
.QR img {
  height: 500px;
  width: 300px;
}
.orderID {
  padding: 20px 10px 10px;
  font-size: 50px;
  font-weight: bolder;
}
.gcash {
  height: auto;
  border: black 3px solid;
  text-align: center;
  font-size: 20px;
  background-color: blue;
  text-decoration: none;
}
.gcashButton {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
.gcashButton img {
  height: 50px;
  color: white;
  font-weight: bolder;
}
.icons {
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #eee;
  cursor: pointer;
}
.refundImage {
  height: 500px;
  width: 800px;
  cursor: pointer;
  margin-left: 20px;
}
.icons a:hover,
.icons:hover {
  color: #fcd01c;
}
.icon {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 0rem;
  color: black;
  cursor: pointer;
  margin-bottom: 1.4rem;
}
.icon:hover {
  color: #fcd01c;
}
.icons1 {
  margin-bottom: 17px;
  font-size: 2rem;
  margin-right: 10px;

  color: black;
  cursor: pointer;
}
.icons1:hover {
  color: #fcd01c;
}
.icons0 {
  font-size: 2rem;
  margin-right: 25px;
  margin-top: 10px;
  color: black;
}
.icons00 {
  font-size: 2rem;
  margin-right: 25px;
  margin-top: 10px;
  color: black;
}
.icons00:hover {
  color: #fcd01c;
}
.icons0:hover {
  color: #fcd01c;
}
.icons3 {
  font-size: 2rem;

  margin-right: 10px;
  color: #fff;
}
.icons3:hover {
  color: #fcd01c;
}
.icons2 {
  font-size: 2rem;

  color: black;
  margin-right: 10px;
  margin-bottom: 12px;
}
.icons2:hover {
  color: #fcd01c;
}
.logo {
  margin-right: 20px;
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  position: left;
  position: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logo:hover {
  color: #fcd01c;
}
.logo1 {
  margin-left: 30px;
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
  position: left;
  position: 100px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo1:hover {
  color: #fcd01c;
}
.navbar1 {
  background: linear-gradient(35deg, #54f6ff, white);
  color: #fff;
  text-decoration: none;
}
.navbar2 {
  background: #eee;
  box-shadow: box-shadow;
  position: fixed;

  color: #fff;
  text-decoration: none;
}
.link {
  text-decoration: none;
}

.section1 {
  background: linear-gradient(35deg, #54f6ff, white);
  min-height: 100vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  margin-bottom: 0px;
  position: relative;
}
.homeImg {
  display: flex;
  position: absolute;
  right: 0px;
  width: 1000px;
  justify-content: flex-end;
  height: 800px;
  border-radius: 20%;
  padding: 10px 10px 10px;
}
.boxC {
  background-size: 800px 400px;

  height: 400px;

  background-repeat: no-repeat;
  padding: 10px;

  font-weight: 100px;
  color: #130f40;
}
.textP {
  text-shadow: 3px 1px #fcd01c;
}
.btn1 {
  display: inline-block;
  justify-content: flex-start;
  width: 700px;
  text-align: center;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.4rem solid black;
  cursor: pointer;
  background: none;
  color: black;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  font-weight: bold;
}
.refund {
  height: auto;
  border: black 1px solid;
  text-align: center;

  background-color: #54f6ff;
  text-decoration: none;
}
.refundBox {
  color: black;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: none;
}
.dm1 {
  display: flex;
  text-transform: none;
  text-align: justify;
  text-justify: auto;
  padding-bottom: 50px;
  width: auto;
  margin-right: 20px;
}
.h1 {
  font-size: 26px;
  text-shadow: 2px 2px #fcd01c;
  font-weight: bolder;
  margin-bottom: 60px;
}
.d1 {
  width: 800px;
}
.happyplace {
  border-radius: 30ch;
  margin-left: 80px;
  margin-right: 150px;
  height: 700px;
  width: 700px;
}
.p2 {
  margin-top: 40px;
}
.btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fcd01c;
  z-index: -1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
  clip-path: circle(0% at 0% 5%);
}

.btn1:hover::before {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}

.btn1:hover {
  color: #fff;
}

.btn2 {
  display: inline-block;
  width: 400px;
  text-align: center;
  text-decoration: none;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #eee;
  cursor: pointer;
  background: none;
  color: #088f8f;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fcd01c;
  z-index: -1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
  clip-path: circle(0% at 0% 5%);
}

.btn2:hover::before {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}

.btn2:hover {
  color: #fff;
}
.wave {
  position: absolute;
  bottom: -250px;

  left: 0;
  width: 100%;
  height: 12rem;
}
.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 50px;
}

.services .box {
  background: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
}

.services .box:hover {
  border-radius: 0.5rem;
  background: #54f6ff;
}

.image {
  height: 500px;
  width: auto;
  justify-items: right;
  display: flex;
  margin-top: 100px;
  margin-right: 20px;
}

.image img {
  height: 500px;
  width: 2000px;
  border-radius: 50%;
  margin-left: 15px;
  margin-bottom: 100px;
}
.textAbout {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 100px;
  margin-left: 120px;
  font-size: 25px;
  font-weight: bold;
}
.location {
  margin-left: 50px;
  display: flex;
  height: 800px;
  font-size: 25px;
}
.locate {
  height: 500px;
  width: 700px;
  display: "flex";
  margin-left: 550px;
  margin-top: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: #088f8f;
}
.locate_text {
  font-size: 25px;
}
.direction {
  display: inline-block;

  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.3rem solid black;
  cursor: pointer;
  background: none;
  color: #088f8f;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  font-weight: bold;
}
.petBoardingText {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-top: 150px;
  text-decoration: dotted;
  font-size: 80px;
  font-family: cursive;
}
.img3 {
  height: 900px;
  width: 900px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.direction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #4fa8bd;
  z-index: -1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
  clip-path: circle(0% at 0% 5%);
}

.direction:hover::before {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}

.direction:hover {
  color: #088f8f;
}
.img2 {
  justify-items: center;
  align-items: center;

  height: 600px;
  width: 700px;
  border-radius: 20%;
}
.blue {
  color: #4fa8bd;
}
.dm1 {
  width: auto;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .icons00 {
    font-size: 2rem;
  }
  .icons0 {
    padding: 0px;
    font-size: 4rem;
  }
  .petBoardingText {
    font-size: 40px;
  }
  .header {
    padding: 2rem;
  }

  .home {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right;
  }
  .header {
    padding: 2rem;
  }
  .section1 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
  }

  .btn1 {
    width: 550px;
    justify-items: center;
    align-items: center;
  }
  .bppsb {
    font-size: 55px;
  }
  .textP {
    font-size: 20px;
  }

  .icons01 {
    font-size: 2.5rem;
    margin-right: 2px;
  }
  .menu {
    margin-top: 20px;
    font-size: 2rem;
  }
  .menuMain {
    display: block;
    margin-top: 5px;
    margin-left: 25px;
    font-size: 2rem;
  }
  .icon {
    font-size: 3rem;
  }
}
@media (max-width: 1700px) {
  .petBoardingText {
    font-size: 60px;
  }
  .homeImg {
    position: flex;
    width: 600px;
  }
  .dm1 {
    width: auto;
    margin-right: 20px;
  }
  .imgdiv {
    margin-left: -100px;
  }
  .happyplace {
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 20px 10px 20px;
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1400px) {
  .locate {
    margin: auto;
  }
  .happyplace {
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 20px 10px 20px;
    width: 500px;
    height: 500px;
  }
  .menu {
    display: flex;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;

    color: black;
    cursor: pointer;
  }
  .menu:hover {
    color: #fcd01c;
  }
  .navbar {
    display: none;
  }
  .logo i {
    font-size: 30px;
  }
  .homeImg {
    width: 500px;
  }
  .logo {
    font-size: 20px;
  }
  .boxC {
    padding: 20px 10px 20px;
  }
  .textP {
    text-align: center;
  }
  .section1 {
    margin-bottom: 150px;
  }
}
@media (max-width: 1200px) {
  .homeImg {
    display: none;
  }
  .logo {
    font-size: 25px;
  }
  .btn1 {
    height: auto;
    width: 650px;
  }
  .section1 {
    justify-content: center;
    margin-bottom: 150px;
  }
  .icons01,
  .icons2,
  .icons0 {
    font-size: 3rem;
    margin-right: 10px;
  }
  .menu {
    padding: 0;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 3rem;
  }
  .direction {
    margin: auto;
    justify-content: center;
    position: relative;
  }
  .happyplace {
    display: none;
  }
  .d1 {
    padding: 20px 10px 20px;
    margin: auto;
    text-align: center;
    justify-items: center;
  }
  .textAbout {
    padding: 20px 20px 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 50px;
  }
  .image1 {
    display: none;
  }
  .image {
    justify-items: center;
  }
  .dm1 {
    justify-items: center;
    justify-content: center;
    margin-left: 100px;
  }
  .p1,
  .h1 {
    justify-content: center;
    justify-items: center;
  }
  .icon {
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .icons00 {
    font-size: 3rem;
    margin-right: 5px;
  }
  .img3 {
    width: fit-content;
  }
  .logo {
    font-size: 30px;
  }
  .logo i {
    font-size: 25px;
  }
  .icons0 {
    font-size: 3rem;
  }
  .locate {
    display: none;
  }

  .btn1 {
    height: auto;
  }
  .menu {
    padding: 0px;
    font-size: 3rem;
    margin-right: 5px;
  }
  .icons2 {
    font-size: 3rem;
    margin-right: 5px;
  }
  .icons0 {
    font-size: 3rem;
    margin-right: 5px;
  }
  .icon {
    font-size: 3rem;
  }
}
/* @media (max-width: 550px) {
  .logo1 {
    font-size: 15px;
  }
} */
@media (max-width: 768px) {
  .icons00 {
    font-size: 2.5rem;
  }

  .petBoardingText {
    font-size: 30px;
  }
  .homeImg {
    display: none;
  }
  .bppsb {
    font-size: 40px;
    justify-items: center;
    text-align: center;
  }
  .textP {
    font-size: 15px;
  }
  .btn1 {
    width: 500px;
  }
  .logo {
    font-size: 30px;
  }
  .logo1 {
    font-size: 20px;
  }
  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #4fa8bd;
    color: #4fa8bd;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
  .icons {
    padding: 0px;
    font-size: 3rem;
    color: #4fa8bd;
  }
  .logo {
    font-size: 30px;
    color: black;
  }

  .textAbout {
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;

    padding: 20px 20px 10px;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
  }
  .image {
    width: 100%;
    margin-top: 10px;
    height: 100px;
  }

  .image img {
    display: none;
  }
  .wave {
    position: absolute;
    bottom: -180px;

    left: 0;
    width: 100%;
    height: 12rem;
  }

  .menu:hover {
    color: #fcd01c;
  }

  .logo {
    font-size: 1.5rem;
  }
  .icons {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .text {
    margin-top: 10px;
    font-size: 3em;
  }
  .img2 {
    height: 300px;
    width: 300px;
  }

  .locate_text {
    text-align: justify;
    justify-content: justify;
    justify-items: center;
    font-size: 20px;
    padding: 20px 20px 10px;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
  }
  .locate {
    display: none;
  }
  .location {
    margin-left: 100px;
    justify-items: center;
    height: auto;
    margin-bottom: 20px;
  }
  .icon {
    font-size: 2.5rem;
    padding: 2px;
    margin-bottom: 15px;
  }
  .happyplace {
    display: none;
  }
  .d1 {
    padding: 20px 20px 10px;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
  }
  .direction {
    margin-left: 70px;
  }
  .icons0 {
    font-size: 2.5rem;
  }
  .menu {
    font-size: 2.5rem;
  }
}

@media (max-width: 527px) {
  .icons00 {
    font-size: 1.9rem;
  }
  .img3 {
    width: 450px;
    height: 600px;
  }
  .happyplace {
    display: none;
  }
  .section1 {
    width: 100%;
  }
  .icon {
    font-size: 2rem;
  }
  .homeImg {
    width: 100px;
    display: none;
    height: 100px;
  }
  .btn1 {
    width: 450px;
  }
  .logo {
    font-size: 20px;
  }
  .logo i {
    font-size: 18px;
  }
  .logo1 {
    font-size: 15px;
  }
  .bppsb {
    font-size: 30px;
    padding: 20px 20px 10px;
    justify-content: center;
    text-align: center;
  }
  .cartBtn {
    height: 80px;
    width: 300px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10%;
  }
  .d1 {
    padding: 20px 20px 10px;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
  }
  .location {
    height: auto;
    margin-bottom: 20px;
    margin: auto;
  }
  .direction {
    margin-left: 70px;
    justify-items: center;
    margin-bottom: 20px;
  }
  .textAbout {
    margin-bottom: 100px;
  }
  .icons0,
  .icons01 {
    font-size: 2rem;
    margin-left: 10px;
  }
  .icons2 {
    font-size: 2rem;
    margin-right: 5px;
  }
  .menu {
    font-size: 2rem;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 5px;
  }
  .lezg {
    width: auto;
  }
}

@media (max-width: 440px) {
  .menuMain {
    font-size: 1.5rem;
  }
  .lezg {
    width: auto;
  }
  .icons00 {
    font-size: 2rem;
  }
  .img3 {
    width: 390px;
    height: 600px;
  }
  .bppsb {
    align-items: center;
    font-size: 23px;
    justify-content: center;
    display: flex;
    padding: 20px 20px 10px;
  }
  .boxC {
    width: max-content;
    background-size: auto;
    padding: 20px 20px 10px;
  }
  .icons0 {
    font-size: 1.5rem;

    margin: 0px 3px;
    margin-top: 10px;
  }

  .wave {
    position: absolute;
    bottom: -168px;
    width: 505px;
  }
  .logo1 {
    margin-left: 5px;
    font-size: 11px;
    color: black;
    font-weight: bolder;
    position: left;
    position: 100px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
  }
  .logo1:hover {
    color: #fcd01c;
  }
  .icons {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .cartBtn {
    height: 80px;
    width: 200px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10%;
  }
  .icon {
    font-size: 2rem;
    padding: 2px;
    margin-bottom: 12px;
    margin-right: 10px;
  }
  .d1 {
    width: auto;
  }
  .happyplace {
    display: none;
  }
  .d1 {
    padding: 20px 20px 10px;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
  }
  .textP {
    padding: 20px 20px 10px;
  }
  .textP h1 {
    font-size: 15px;
  }
  .homeImg {
    display: none;
  }

  .section1 {
    width: auto;
    margin-bottom: 100px;
  }

  .btn1 {
    width: 300px;
  }
  .image1 {
    display: none;
  }
  .all {
    width: auto;
  }
  .locate_text {
    margin-right: 10px;
  }
  .menu {
    margin-bottom: 17px;
    margin-right: 8px;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .icons2 {
    font-size: 1.5rem;
    margin-right: auto;
    margin-bottom: 3px;
  }
  .icons0 {
    margin-bottom: 1px;
  }
}
@media (max-width: 390px) {
  .lezg {
    width: auto;
  }
  .petBoardingText {
    font-size: 25px;
  }
  .btn2 {
    width: fit-content;
  }
  .img3 {
    width: 300px;
    height: 400px;
  }
  .icons0 {
    margin-right: 5px;
  }
  .icons2 {
    font-size: 1.5rem;
    margin-right: 150px;

    margin-left: 0px;
  }

  .image {
    margin-bottom: 25px;
  }
  .logo1 {
    font-size: 10px;
  }
}
@media (max-width: 360px) {
  .icons0 {
    margin-right: 5px;
  }
  .icons2 {
    font-size: 1rem;
    margin-right: auto;

    margin-left: 0px;
  }
  .menu {
    margin-bottom: 23px;
  }
  .image {
    margin-bottom: 25px;
  }
  .logo {
    font-size: 12px;
  }
  .logo i {
    font-size: 10px;
  }
  .logo1 {
    font-size: 9px;
  }
}

/* Small  */
@media (min-width: 768px) {
  .section1 {
    width: 100%;
  }
}
/* Medium  */
@media (min-width: 992px) {
  .section1 {
    width: 100%;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .section1 {
    width: 100%;
  }
}
