@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}

.header {
  background: #4fa8bd;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 1;
}
.active {
  background: #4fa8bd;
  box-shadow: box-shadow;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
}
.navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
}

.navbar a:hover {
  color: #088f8f;
}
.text {
  font-size: 75px;
  font-family: Bebas Neue;
}
.bppsb {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 1rem;
  text-align: right;
  justify-content: right;
  font-family: "Bebas Neue";
}

.menu {
  display: none;
}

.icons {
  font-size: 2rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

.icons a:hover,
.icons:hover {
  color: #088f8f;
}

.icons1 {
  font-size: 2rem;
  margin-right: 10px;

  color: #fff;
  cursor: pointer;
}
.icons0 {
  font-size: 2rem;
  margin-top: 5px;
  color: #fff;
}
.icons0:hover {
  color: #088f8f;
}
.icons3 {
  font-size: 2rem;

  margin-right: 10px;
  color: #fff;
}
.icons3:hover {
  color: #088f8f;
}
.icons2 {
  font-size: 2rem;

  color: #fff;
  margin-right: 10px;
  margin-bottom: 12px;
}
.icons2:hover {
  color: #088f8f;
}
.logo {
  margin-right: 20px;
  font-size: 2rem;
  color: #130f40;
  font-weight: bolder;
  position: left;
  position: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logo:hover {
  color: #088f8f;
}
.logo1 {
  margin-left: 30px;
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
  position: left;
  position: 100px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.section1 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;

  background: url(/images/image1.jpg) no-repeat;

  background-position: center;
  background-size: cover;
  position: relative;
}
.btn1 {
  display: inline-block;
  width: 700px;
  text-align: center;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #eee;
  cursor: pointer;
  background: none;
  color: #088f8f;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  font-weight: bold;
}

.btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #4fa8bd;
  z-index: -1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
  clip-path: circle(0% at 0% 5%);
}

.btn1:hover::before {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}

.btn1:hover {
  color: #fff;
}

.wave {
  position: absolute;
  bottom: -250px;

  left: 0;
  width: 100%;
  height: 12rem;
}
.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 50px;
}

.services .box {
  background: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
}

.services .box:hover {
  border-radius: 0.5rem;
  background: #4fa8bd;
}

.image {
  height: 500px;
  width: 1800px;
  justify-items: right;
  display: flex;
  margin-top: 100px;
}

.image img {
  height: 500px;
  width: 2000px;
  border-radius: 50%;
  margin-left: 15px;
  margin-bottom: 100px;
}
.textAbout {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 100px;
  margin-left: 120px;
  font-size: 25px;
}
.location {
  margin-left: 50px;
  display: flex;
  height: 800px;
  font-size: 25px;
}
.locate {
  height: 500px;
  width: 700px;
  display: "flex";
  margin-left: 550px;
  margin-top: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: #088f8f;
}
.locate_text {
  font-size: 25px;
}
.direction {
  display: inline-block;

  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #eee;
  cursor: pointer;
  background: none;
  color: #088f8f;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  font-weight: bold;
}

.direction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #4fa8bd;
  z-index: -1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
  clip-path: circle(0% at 0% 5%);
}

.direction:hover::before {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}

.direction:hover {
  color: #088f8f;
}
.img2 {
  height: 600px;
  width: 700px;
  border-radius: 20%;
}

@media (max-width: 991px) {
  .wave {
    position: absolute;
    bottom: -206px;
  }
  .header {
    padding: 2rem;
  }

  .home {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right;
  }
  .header {
    padding: 2rem;
  }
  .section1 {
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  .btn1 {
    position: center;
    width: 400px;
  }

  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #4fa8bd;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
  .icons {
    font-size: 3rem;
  }
  .logo {
    font-size: 25px;
  }
  .textAbout {
    text-align: justify;
    margin-top: 50px;
    margin-left: 20px;

    font-size: 10px;
  }
  .image {
    width: 450px;
    margin-top: 10px;
    height: 100px;
  }

  .image img {
    display: flex;
    height: 150px;
    width: 150px;
  }
  .wave {
    position: absolute;
    bottom: -180px;

    left: 0;
    width: 100%;
    height: 12rem;
  }
  .menu {
    display: inline-block;
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: -2px;
    color: #fff;
    cursor: pointer;
  }

  .menu:hover {
    color: #088f8f;
  }

  .bppsb {
    display: none;
  }
  .logo {
    font-size: 1.5rem;
  }
  .icons {
    font-size: 2rem;
  }
  .text {
    margin-top: 10px;
    font-size: 3em;
  }
  .img2 {
    height: 300px;
    width: 300px;
  }

  .locate_text {
    text-align: justify;
    justify-content: justify;
    justify-items: center;
    font-size: 12px;
  }
  .locate {
    display: none;
  }
  .location {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .section1 {
    width: max-content;
  }

  .wave {
    position: absolute;
    bottom: -168px;
    width: 505px;
  }
}

@media (max-width: 420px) {
  .section1 {
    width: max-content;
  }

  .wave {
    position: absolute;
    bottom: -168px;
    width: 505px;
  }
}
